<div id="<%= dom_id task %>">
  <tr>
    <td><%= task.name %></td>
    <td><%= time_zone(task.end_date) %></td>
    <td><%= task_priority_enum_to_ja(task.priority) %></td>
    <td><%= task_status_enum_to_ja(task.status) %></td>
    <td><%= task.explanation %></td>
    <td><%= link_to "詳細を確認", task %></td>
  </tr>
</div>
