<%= form_with(model: label) do |form| %>
  <% if label.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(label.errors.count, "error") %> ラベルの保存が出来ませんでした</h2>

      <ul>
        <% label.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label 'ラベル名', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit '送信' %>
  </div>
<% end %>
