<p style="color: green"><%= notice %></p>

<%= render @label %>

<div>
  <%= link_to "ラベルを編集する", edit_label_path(@label) %> |
  <%= link_to "ラベル一覧に戻る", labels_path %>

  <%= button_to "ラベルを削除する", @label, method: :delete %>
</div>
